<header class="page-header"{% if page.image %} style="background-image: url('{{ page.image }}');"{% endif %}>
    <div class="page-header-wallpaper-cover"></div>

    <nav class="page-header-nav w3-padding w3-padding-32 w3-row">
        <div class="w3-col s12 m1 l1 w3-hide-small">&nbsp;</div>
        <div class="w3-col s12 m10 l10 w3-bar">

            <a href="{{ '/' | relative_url }}" class="site-title w3-right w3-bar-item w3-button w3-hover-none">{{ site.title }}</a>

            <button class="w3-left w3-button w3-hover-none w3-hide-medium w3-hide-large" id="tgl_header_nav_mobile"><i id="tgl_header_nav_mobile_icon" class="fas fa-bars"></i></button>

            <div class="page-header-nav-desktop w3-left w3-hide-small" id="page_header_nav_desktop">
                {% for ni in site.data.navigations.primary %}
                    <a href="{{ ni.url }}" target="{{ ni.target | default: '_self' }}" class="w3-bar-item w3-button w3-hover-none{% if ni.url == page.url %} active{% endif %}">
                        {% if ni.icon %}
                            <i class="{{ ni.icon }}"></i>
                        {% endif %}
                        <span>{{ ni.title }}</span>
                    </a>
                {% endfor %}
            </div>

        </div>
        <div class="w3-col s12 m1 l1 w3-hide-small">&nbsp;</div>
    </nav>

    <div class="page-header-nav-mobile w3-hide-medium w3-hide-large w3-center w3-white w3-margin w3-card" id="page_header_nav_mobile">
        {% for ni in site.data.navigations.primary %}
            <a href="{{ ni.url }}" target="{{ ni.target | default: '_self' }}" class="w3-mobile w3-button w3-hover-none{% if ni.url == page.url %} active{% endif %}">
                {% if ni.icon %}
                    <i class="{{ ni.icon }}"></i>
                {% endif %}
                <span>{{ ni.title }}</span>
            </a>
        {% endfor %}
    </div>

    <div class="w3-display-container">
        <div class="w3-display-middle">
            {% if page.title %}
            <h1>{{ page.title }}</h1>
                {% if page.type == "post" %}
                    {% if page.jdate %}
                        {% assign jdate = page.jdate | split: "-" %}
                        {% assign y = jdate[0] | minus: 0 %}
                        {% assign m = jdate[1] | minus: 1 %}
                        {% assign d = jdate[2] | minus: 0 %}
                        {% assign w = page.date | date: "%w" | minus: 0 %}
                    {% endif %}
                    {% if page.jedit %}
                        {% assign jedit = page.jedit | split: "-" %}
                        {% assign ye = jedit[0] | minus: 0 %}
                        {% assign me = jedit[1] | minus: 1 %}
                        {% assign de = jedit[2] | minus: 0 %}
                        {% assign we = page.edit | date: "%w" | minus: 0 %}
                    {% endif %}

                    {% assign time_to_read = page.content | number_of_words | divided_by: 200.0 | round: 2 %}
                    {% assign t = page.content | number_of_words | divided_by: 200 %}
                    {% assign t = time_to_read | minus: t | times: 0.60 | times: 100 | round %}
                    {% if t > 30 %}
                        {% assign time_to_read = time_to_read | plus: 1 %}
                    {% endif %}

                    <p class="article-meta">
                        {% if page.date or page.jdate %}
                            <span class="article-date-header meta">
                                <i class="fas fa-calendar"></i>
                                <time pubdate datetime="{{ page.date | date_to_xmlschema }}">{% if page.jdate %}{{ site.data.strings.weekdays[w] }}، {{ d }} {{ site.data.strings.months[m] }} {{ y }}{% else %}{{ page.date | date: "%A %d %m %y" }}{% endif %}</time>
                            </span>
                        {% endif %}

                        {% if page.author %}
                            <span class="article-author-header meta">
                                <i class="fas fa-user"></i>
                                {{ site.data.authors[page.author].name }}
                            </span>
                        {% endif %}

                        {% if page.categories %}
                            <span class="article-categories-header meta">
                                <i class="fas fa-archive"></i>
                                {% for category in page.categories %}
                                    <span>{{ category }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}

                        {% if page.comments == true %}
                            <span class="article-comments-header meta">
                                <i class="fas fa-comment"></i>
                                <a href="{{ page.url }}#disqus_thread">کامنت ها</a>
                            </span>
                        {% endif %}

                        <span class="article-time-to-read-header meta">
                            <i class="fas fa-clock"></i>
                            {{ time_to_read | round }} دقیقه
                        </span>
                    </p>
                {% endif %}
                
            {% else %}
                <h2>{{ site.description }}</h2>
            {% endif %}
        </div>
    </div>
</header>


<div class="w3-row">
    <div class="w3-col s12 m1 l1 w3-hide-small">&nbsp;</div>
    <div class="page-ef-wrapper w3-col s12 m10 l10">
        

        <main class="page-entry w3-row">
            <div class="w3-col s12 m9 l9 page-content w3-right">