<aside class="w3-col s12 m3 l3 page-sidebar w3-left">
    
    {% 
        include widgets/search.html 
    %}
    
    {% 
        include widgets/banner.html 
        title="لینوکس ۹۸ در تلگرام"
        collection="telegram"
    %}

    {%
        include widgets/categories.html
        title="دسته بندی ها"    
    %}
    
    {% 
        include widgets/banner.html
        title="ویدیوکست های لینوکس ۹۸"
        collection="social"
    %}
    
    {% 
        include widgets/posts.html 
        title="نوشته های تصادفی"
        count=10
    %}

    {%
        include widgets/feedburner.html
        title="خبرنامه"    
    %}

    {%
        include widgets/tags.html
        title="تگ ها"    
    %}

</aside>
