/*
    primary nav
*/

.page-primary-nav {
    width: 100%;
    z-index: 1;

    .w3-bar .w3-bar-item {
        float: right;
    }
}

#page_primary_desktop_nav {
    a {
        color: $text_color_secondary;

        &.active {
            color: $text_color_primary;
            font-weight: bold;
        }
    }
}

#page_primary_mobile_nav {
    display: none;

    a {
        border-bottom: 1px solid #eeeeee;
        &:last-child {
            border-bottom: none;
        }
    }
}





/*
    social nav
*/

.page-social-nav {
    margin-bottom: 16px;

    a {
        &:hover {
            color: $theme_color !important;
        }
        span {
            margin-right: 2px;
        }
    }
}