.page-404 {
    text-align: center;

    a {
        text-decoration: none;
        color: $theme_color;
        
        &:hover {
            color: $secondary_text_color;
        }
    }
    
    .et {
        font-size: 15rem;
        line-height: 0;
    }

    input {
        width: 512px;
        max-width: 100%;
        padding: 8px 16px;
        border: 1px solid #eeeeee;

        &:focus {
            border: 1px solid $primary_text_color;
        }
    }
}