@media (max-width: 600px) {
// ------------------------------- start



    .page-header {
        margin-bottom: 64px;
    }

    .page-article {
        margin-top: 32px;
        padding-top: 32px;
        &:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }

    .page-footer {
        text-align: center;      
        margin: 64px auto;
    }

    .page-content {
        border-right: none;
    }

    .page-social-nav {
        margin-top: 16px;
    }
    
    .page-sidebar {
        margin-top: 64px;
    }
    


    
// ------------------------------- end
}