/*
    slider
*/

.slider {
    height: 512px;
    margin: 0 auto;
}


// -------------------- slide item 
.slide {
    height: 100%;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// -------------------- title
.slide-title {
    background-color: rgba($color: #333333, $alpha: 0.5);
    color: #ffffff;
    padding: 16px;
    text-align: center;
    width: 100%;
    text-align: right;
    transition: all 0.3s;
}
.slide-title:hover {
    background-color: #333333;
    transition: all 0.3s;
}

.slide-title h3 {
    margin: 0;
    font-family: $estedad_font_family;
}


// -------------------- next and previous slide buttons
.slider-previous-btn {
    margin-left: 16px;
}

.slider-next-btn {
    margin-right: 16px;
}

.slider-next-btn,
.slider-previous-btn {
    opacity: .5;
    border: 1px solid #eeeeee;
    border: none;
    color: white;
    background: transparent;
    font-size: $xxx_large_font_size*2;
    padding: 16px;
    transition: all 0.3s;
}

.slider-next-btn:hover,
.slider-previous-btn:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 2px 2px rgba($color: #333333, $alpha: .64);
}
.slider-next-btn:focus,
.slider-previous-btn:focus {
    outline: none;
}

// -------------------- slider pagination
.slider-pagination {
    margin-top: 16px;
    margin-left: 16px;
}

.slider-pagination button {
    border: 1px solid #eeeeee !important;
    box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.16);
    background-color: #ffffff;
    border: none;
    padding: 8px;
    opacity: .5;
    transition: all 0.3s;
}
.slider-pagination button:hover {
    opacity: 1 !important;
    cursor: pointer;
    transition: all 0.3s;
}
.slider-pagination button:focus {
    outline: none;
}
























// -------------------------------- widget
.page-widget {
    margin-bottom: 64px;
    &:last-child {
        margin-bottom: 0;
    }
}


.widget-header::after {
    content: "";
    display: table;
    background-color: $text_color_primary;
    width: 32px;
    height: 4px;
}

.widget-title {
    font-family: $estedad_font_family;
    font-size: $large_font_size;
    font-weight: bold;
}

.widget-body {
    margin-top: 16px;

    a {
        text-decoration: none;
        color: $theme_color;
        &:hover {
            color: $text_color_secondary;
        }
    }

    ul {
        margin: 0;
        padding-right: 16px;
    }
}


// -------------------------------- search widget
.widget-search {
    input {
        width: 100%;
        margin-top: 8px;
        border: 1px solid #eeeeee;
        padding: 8px 16px;
        transition: all 0.3s;
        &:focus {
            transition: all 0.3s;
        }
    }
}


// -------------------------------- feedburner
.widget-feedburner {
    color: #ffffff;
    background-color: #f26522;
    padding: 32px 16px !important;


    .widget-header::after {
        content: none;
        display: table;
        width: 0;
        height: 0;
    }

    .widget-title {
        font-family: $lalezar_font_family;
        font-size: $xx_large_font_size * 1.5;
        font-weight: normal !important;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .widget-description {
        font-size: $small_font_size;
    }
    
    .info {
        font-size: $xx_small_font_size;
        opacity: .8;
        margin: 8px 0 0 0 !important;
    }

    input {
        width: 100%;
        margin-top: 8px;
        border: none;
        padding: 10px 0;
        color: #ffffff;
        text-align: center;
        background-color: #d56144;
        &:focus {
            outline: none;
        }
    }

    #email {
        direction: ltr;
    }

    #submit {
        background-color: #ffffff;
        color: #f47555;
        
        &:hover {
            cursor: pointer;
        }
    }
}






.page-widget {
    .widget-banner {
        display: block;
    padding-bottom: 8px;

    &:last-child {
        padding-bottom: 0;
    }
    }
}

.widget-banner {
    text-decoration: none;

    &:hover {
        opacity: .85;
    }

    div {
        border-radius: 8px;
        text-align: center;
        padding: 32px 16px;
        color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
    }

    i {
        font-size: $xxx_large_font_size * 1.5;
    }

    h3 {
        margin: 8px 0 0 0;
        font-family: $estedad_font_family;
        font-size: $large_font_size;
    }
}






.widget-tags {
    a {
        border: 1px solid #eeeeee;
        border-radius: 4px;
        line-height: 1.2;
        margin-top: 4px;
        margin-left: 2px;
        padding: 8px;
        display: inline-block;

        &:hover {
            color: $theme_color;
            border-color: $theme_color;
        }
    }
}






.widget-categories {

    span {
        color: $text_color_secondary;
    }
}