<div class="page-widget widget-general">
    {% if include.title %}
        <header class="widget-header">
            <h3>{{ include.title }}</h3>
        </header>
    {% endif %}
    <div class="widget-body">
        <img src="{{ '/theme/img/icon.png' | absolute_url }}" alt="{{ site.title }}">
        <p>یه روز سرد زمستونی بود که من (امین) و رفیقم آکام تصمیم گرفتیم یه سایت ( یا وبلاگ) بزنیم. و توش راجب هر چیزی که خوشمون میاد بنویسیم که بعد ها اسمش به لینوکس ۹۸ تغییر کرد.</p>
    </div>
</div>