<div class="page-widget widget-feedburner w3-center">
    <header class="widget-header">
        <h3 class="widget-title">خبرنامه</h3>
        <p class="widget-description">با عضویت در خبرنامه وبلاگ، آخرین مطالب رو در ایمیل خودتون دریافت کنید</p>
    </header>
    <div class="widget-body">
        <form action="https://feedburner.google.com/fb/a/mailverify?uri=" method="GET" id="feedburner_subscribe_form" target="popupwindow" class="feedburner-subscription-form">
            <input id="email" type="email" name="email" placeholder="{{ site.data.strings.widget.feedburner.email_input_placeholder }}" required>
            <input type="hidden" name="uri" value="{{ site.feedburner }}">
            <input type="hidden" name="loc" value="{{ site.lang }}">
            <input type="hidden" name="form_type" value="widget">
            <input type="hidden" name="service" value="feedburner">
            <input type="submit" id="submit" value="{{ site.data.strings.widget.feedburner.signup_button_text }}">
        </form>
        <p class="info">آدرس ایمیل شما محفوظ خواهد ماند</p>
    </div>
</div>