<div class="page-widget widget-image">
    {% if include.title %}
        <div class="widget-header">
            <h3 class="widget-title">{{ include.title }}</h3>
        </div>
    {% endif %}
    <div class="widget-body">
        {% if include.link %}
            <a href="{{ include.link }}">
                <img src="{{ include.src }}" alt="{{ include.alt }}">
            </a>
        {% else %}
            <img src="{{ include.src }}" alt="{{ include.alt }}">
        {% endif %}
    </div>
</div>