<div class="page-widget widget-menu menu-{{ include.type | default: 'list' }}">
    {% if include.title %}
        <header class="widget-header">
            <h3 class="widget-title">{{ include.title }}</h3>
        </header>
    {% endif %}
    <div class="widget-body">
        <ul>
            {% for item in site.data.menus[include.menu] %}
                <li><a href="{{ item.url }}" target="{{ item.target | default: '_blank' }}" style="background: {{ item.background }}">{% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}<span>{{ item.title }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
</div>