<div class="page-widget widget-search">
    {% if include.title %}
        <div class="widget-header">
            <h3 class="widget-title">{{ include.title }}</h3>
        </div>
    {% endif %}
    <div class="widget-body">
        <!-- <p>{{ site.data.strings.widget.search.description }}</p> -->
        <form action="{{ '/search/' | relative_url }}" method="GET">
            <input type="text" placeholder="{{ site.data.strings.widget.search.input_placeholder }}" id="search_box" name="q">
        </form>
    </div>
</div>