---
layout: base
---
{% include template/header.html %}



{% if page.url == '/' %}
    {% include widgets/slider.html count=8 %}
{% endif %}



{% for post in paginator.posts %}
    <article class="page-article">
        <header class="article-header">
            {% if post.jdate %}
                {% assign jdate = post.jdate | split: "-" %}
                {% assign y = jdate[0] | minus: 0 %}
                {% assign m = jdate[1] | minus: 1 %}
                {% assign d = jdate[2] | minus: 0 %}
                {% assign w = post.date | date: "%w" | minus: 0 %}
            {% endif %}
            {% if post.jedit %}
                {% assign jedit = post.jedit | split: "-" %}
                {% assign ye = jedit[0] | minus: 0 %}
                {% assign me = jedit[1] | minus: 1 %}
                {% assign de = jedit[2] | minus: 0 %}
                {% assign we = post.edit | date: "%w" | minus: 0 %}
            {% endif %}
            <time class="article-date" pubdate datetime="{{ post.date | date_to_xmlschema }}">{% if post.jdate %}{{ site.data.strings.weekdays[w] }}، {{ d }} {{ site.data.strings.months[m] }} {{ y }}{% else %}{{ post.date | date: "%A %d %m %y" }}{% endif %}</time>

            <h1 class="article-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
        </header>

        <div class="article-content">
            {% assign excerpt = post.content %}
            {% if post.content contains site.excerpt_separator %}
                {% assign excerpt = post.excerpt %}
            {% endif %}

            {% if post.image %}
                <a href="{{ post.url | relative_url }}">
                    <img src="{{ post.image }}" alt="{{ post.title }}" class="article-image article-image-small w3-hover-opacity w3-right"{% if excerpt.size < 256 %} style="width: 100%"{% endif %}>
                </a>
            {% endif %}

            {{ excerpt }}
        </div>

        {% if post.content contains site.excerpt_separator %}
            <footer class="article-footer">
                <a href="{{ post.url | relative_url }}#read-more" class="read-more">{{ site.data.strings.read_more_link }}</a>
            </footer>
        {% endif %}
    </article>
{% endfor %}



<div class="page-pagination w3-center w3-bar">
    {% if paginator.total_pages <= 8 %}
        {% for i in (1..paginator.total_pages) %}
            {% if i == 1 %}
                {% if paginator.page == 1 %}
                    <a href="#!" class="w3-button w3-disabled w3-black">1</a>
                {% else %}
                    <a href="/" class="w3-button w3-black">1</a>
                {% endif %}
                {% continue %}
            {% elsif paginator.page == i %}
                <a href="#!" class="w3-button w3-disabled w3-black">{{ i }}</a>
                {% continue %}
            {% endif %}
            <a href="/page/{{ i }}/" class="w3-button w3-black">{{ i }}</a>
        {% endfor %}
    {% else %}
        {% assign page_number_minus_2 = paginator.page | minus: 2 %}
        {% if paginator.page == paginator.total_pages %}
            {% assign page_number_minus_2 = paginator.page | minus: 3 %}
        {% elsif page_number_minus_2 < 1 %}
            {% assign page_number_minus_2 = 1 %}
        {% endif %}

        {% assign page_number_plus_2 = paginator.page | plus: 3 %}
        {% if page_number_plus_2 > paginator.total_pages %}
            {% assign page_number_plus_2 = paginator.total_pages %}
        {% endif %}

        {% if paginator.page == 1 %}
            <a href="#!" class="w3-button w3-disabled w3-black">1</a>
        {% elsif page_number_minus_2 == 1 or page_number_minus_2 < 3 %}
            <a href="/" class="w3-button w3-black">1</a>
        {% else %}
            <a href="/" class="w3-button w3-black">1</a>
            ...
        {% endif %}
        
        {% for i in (page_number_minus_2..page_number_plus_2) %}
            {% if i == 1 or i == paginator.total_pages %}
                {% continue %}
            {% elsif paginator.page == i %}
                <a href="#!" class="w3-button w3-disabled w3-black">{{ i }}</a>
                {% continue %}
            {% endif %}
            <a href="/page/{{ i }}/" class="w3-button w3-black">{{ i }}</a>
        {% endfor %}
        
        {% assign t = paginator.total_pages | minus: 2 %}
        {% if paginator.page == paginator.total_pages %}
            <a href="#!" class="w3-button w3-disabled w3-black">{{ paginator.total_pages }}</a>
        {% elsif page_number_plus_2 == paginator.total_pages or page_number_plus_2 > t %}
            <a href="/page/{{ paginator.total_pages }}/" class="w3-button w3-black">{{ paginator.total_pages }}</a>
        {% else %}
            ...
            <a href="/page/{{ paginator.total_pages }}/" class="w3-button w3-black">{{ paginator.total_pages }}</a>
        {% endif %}
    {% endif %}
</div>



{% include template/footer.html %}