---
layout: base
---
{% include template/header.html %}



{% if page.url == '/' %}
    {% include widgets/slider.html count=4 %}
{% endif %}



{% for post in paginator.posts %}
    <article class="page-article">
        <header class="article-header">
            {% if post.jdate %}
                {% assign jdate = post.jdate | split: "-" %}
                {% assign y = jdate[0] | minus: 0 %}
                {% assign m = jdate[1] | minus: 1 %}
                {% assign d = jdate[2] | minus: 0 %}
                {% assign w = post.date | date: "%w" | minus: 0 %}
            {% endif %}
            {% if post.jedit %}
                {% assign jedit = post.jedit | split: "-" %}
                {% assign ye = jedit[0] | minus: 0 %}
                {% assign me = jedit[1] | minus: 1 %}
                {% assign de = jedit[2] | minus: 0 %}
                {% assign we = post.edit | date: "%w" | minus: 0 %}
            {% endif %}

            {% assign time_to_read = post.content | number_of_words | divided_by: 200.0 | round: 2 %}
            {% assign t = post.content | number_of_words | divided_by: 200 %}
            {% assign t = time_to_read | minus: t | times: 0.60 | times: 100 | round %}
            {% if t > 30 %}
                {% assign time_to_read = time_to_read | plus: 1 %}
            {% endif %}

            <div class="article-meta">
                {% if post.date or post.jdate %}
                    <span class="article-date meta">
                        <i class="fas fa-calendar"></i>
                        <time pubdate datetime="{{ post.date | date_to_xmlschema }}">{% if post.jdate %}{{ site.data.strings.weekdays[w] }}، {{ d }} {{ site.data.strings.months[m] }} {{ y }}{% else %}{{ post.date | date: "%A %d %m %y" }}{% endif %}</time>
                    </span>
                {% endif %}

                {% if post.author %}
                    <span class="article-author meta">
                        <i class="fas fa-user"></i>
                        {{ site.data.authors[post.author].name }}
                    </span>
                {% endif %}

                {% if post.categories %}
                    <span class="article-categories meta">
                        <i class="fas fa-archive"></i>
                        {% for category in post.categories %}
                            <span>{{ category }}</span>
                        {% endfor %}
                    </span>
                {% endif %}

                {% if post.comments == true %}
                    <span class="article-comments meta">
                        <i class="fas fa-comment"></i>
                        <a href="{{ post.url }}#disqus_thread">کامنت ها</a>
                    </span>
                {% endif %}

                <span class="article-time-to-read meta">
                    <i class="fas fa-clock"></i>
                    {{ time_to_read | round }} دقیقه
                </span>
            </div>


            <h1 class="article-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
        </header>

        <div class="article-content">
            {% assign post_content = post.content %}
            {% if post.content contains site.excerpt_separator %}
                {% assign post_content = post.excerpt %}
            {% endif %}

            {% if post.image %}
                {% assign paragraph_count_in_post_content = post_content | split: '<p>' | size | minus: 1 %}
                <a href="{{ post.url | relative_url }}">
                    <img src="{{ post.image }}" alt="{{ post.title }}" class="article-image article-image-small w3-hover-opacity w3-right"{% if post_content.size < 450 and paragraph_count_in_post_content < 3 %} style="width: 100%"{% endif %}>
                </a>
            {% endif %}

            {{ post_content }}
        </div>

        <div style="clear: both !important"></div>

        <footer class="article-footer">
            {% if post.content contains site.excerpt_separator %}
                <a href="{{ post.url | relative_url }}#read-more" class="read-more w3-button w3-hover-none">{{ site.data.strings.read_more_link }}</a>
            {% endif %}
            <a href="#!" class="read-it-later w3-button w3-hover-none" onclick="javascript:void(0); window.open('https://getpocket.com/edit?url={{ post.url | absolute_url }}','popUpWindow','height=500,width=720,left=256,top=256,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');">
                <i class="far fa-bookmark"></i>
                بعدا بخوانید
            </a>
        </footer>
    </article>
{% endfor %}



<div class="page-pagination w3-center w3-bar">
    {% if paginator.total_pages <= 8 %}
        {% for i in (1..paginator.total_pages) %}
            {% if i == 1 %}
                {% if paginator.page == 1 %}
                    <a href="#!" class="w3-button w3-disabled w3-black">1</a>
                {% else %}
                    <a href="/" class="w3-button w3-black">1</a>
                {% endif %}
                {% continue %}
            {% elsif paginator.page == i %}
                <a href="#!" class="w3-button w3-disabled w3-black">{{ i }}</a>
                {% continue %}
            {% endif %}
            <a href="/page/{{ i }}/" class="w3-button w3-black">{{ i }}</a>
        {% endfor %}
    {% else %}
        {% assign page_number_minus_2 = paginator.page | minus: 2 %}
        {% if paginator.page == paginator.total_pages %}
            {% assign page_number_minus_2 = paginator.page | minus: 3 %}
        {% elsif page_number_minus_2 < 1 %}
            {% assign page_number_minus_2 = 1 %}
        {% endif %}

        {% assign page_number_plus_2 = paginator.page | plus: 3 %}
        {% if page_number_plus_2 > paginator.total_pages %}
            {% assign page_number_plus_2 = paginator.total_pages %}
        {% endif %}

        {% if paginator.page == 1 %}
            <a href="#!" class="w3-button w3-disabled w3-black">1</a>
        {% elsif page_number_minus_2 == 1 or page_number_minus_2 < 3 %}
            <a href="/" class="w3-button w3-black">1</a>
        {% else %}
            <a href="/" class="w3-button w3-black">1</a>
            ...
        {% endif %}
        
        {% for i in (page_number_minus_2..page_number_plus_2) %}
            {% if i == 1 or i == paginator.total_pages %}
                {% continue %}
            {% elsif paginator.page == i %}
                <a href="#!" class="w3-button w3-disabled w3-black">{{ i }}</a>
                {% continue %}
            {% endif %}
            <a href="/page/{{ i }}/" class="w3-button w3-black">{{ i }}</a>
        {% endfor %}
        
        {% assign t = paginator.total_pages | minus: 2 %}
        {% if paginator.page == paginator.total_pages %}
            <a href="#!" class="w3-button w3-disabled w3-black">{{ paginator.total_pages }}</a>
        {% elsif page_number_plus_2 == paginator.total_pages or page_number_plus_2 > t %}
            <a href="/page/{{ paginator.total_pages }}/" class="w3-button w3-black">{{ paginator.total_pages }}</a>
        {% else %}
            ...
            <a href="/page/{{ paginator.total_pages }}/" class="w3-button w3-black">{{ paginator.total_pages }}</a>
        {% endif %}
    {% endif %}
</div>



{% include template/footer.html %}