---
layout: none
---
@charset "UTF-8";


@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Regular.eot');
    src: url('../fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Regular.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Regular.woff') format('woff'),
         url('../fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
         url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



$theme_color: cornflowerblue;
$primary_text_color: #333333;
$secondary_text_color: #a1a1a1;

$small_font_size: 0.8em;
$normal_font_size: 1.1em;
$large_font_size: 1.4em;

$page_heading_font_size: 2.56em;
$page_content_font_size: 1.2em;

$widget_headering_font_size: 1.5em;




@import
    "widgets",
    "page-search",
    "syntax-highlighter",
    "home",
    "page-404"
;
