---
layout: none
---
@charset "UTF-8";


@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Regular.eot');
    src: url('../fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Regular.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Regular.woff') format('woff'),
         url('../fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
         url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



$theme_color: cornflowerblue;
$text_color_primary: #333333;
$text_color_secondary: #a1a1a1;

$normal_font_size: 1em;
$large_font_size: 1.1em;
$small_font_size: 0.9em;

// $xxx_small_font_size: .5rem;
// $xx_small_font_size: .7rem;
// $x_small_font_size: .9rem;
// $small_font_size: 1rem;

// $normal_font_size: 1.1rem;

// $large_font_size: 1.2rem;
// $x_large_font_size: 1.3rem;
// $xx_large_font_size: 1.5rem;
// $xxx_large_font_size: 1.7rem;

// $page_title_font_size: 3.5rem;

// $article_title_font_size: 2.75rem;
// $article_content_font_size: 1.175rem;

// $page_title_font_size_on_small_views: 3.5rem;

// $article_title_font_size_on_small_views: 3rem;
// $article_content_font_size_on_small_views: 1.2rem;



@import
    "widgets",
    "page-search",
    "syntax-highlighter",
    "home",
    "page-404"
;
